md-lookup .dropdown-div {
		position: absolute;
		z-index: 1000;
		width: 100%;
		cursor: pointer;
		overflow: auto;
		border: 1px solid #e0e0e0;
		background: white;
}

md-lookup .dropdown-div ul {
	border: none;
	margin: 0;
}

md-lookup .dropdown-div ul li:hover {
	background-color: #eee;
}
