.sample-template md-card {
  position: relative;
}

.sample-template md-card .md-catalog__play-button {
  position: absolute;
  display: inline-block;
  right: 24px;
  top: 10px;
}

.sample-template md-card .md-catalog__play-button i {
  color: black;
}
