.control-info.wip {
  background: url('https://aurelia-ui-toolkits.github.io/demo-materialize/images/orange.png') left center no-repeat;
}

.control-info.done {
  background: url('https://aurelia-ui-toolkits.github.io/demo-materialize/images/blue.png') left center no-repeat;
}

.control-info {
  padding-left: 15px;
}
