.primary {
  background-color: #ee6e73;
  color: white;
}

.primary-text {
  background-color: white;
  color: #ee6e73;
}

.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(243, 156, 159, 0.65);
}

.accent {
  background-color: #2bbbad;
  color: white;
}
