doc .collapsible-header {
  line-height: 44px;
  height: 44px;
}

doc .collapsible-body li {
  line-height: 44px;
  height: 44px;
  cursor: pointer;
  padding: 0 10px;
  display: block;
}

doc .panel-bar {
  /*margin-top: 20px;*/
}

.left-panel {
  /*float: left;*/
  height: 100%;
  overflow: auto;
}

.right-panel {
  /*float: right;*/
  height: 100%;
  overflow: auto;
}
